{
	auto_https off
	http_port 8080
	admin off
    order crawler_prerender before file_server
    debug
}

:8080 {
	root * ./app
    crawler_prerender 101 301
    encode zstd gzip
	file_server
	try_files {path} /index.html?{query}
}
